################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/4OLEN-TP-2023/.vs/4OLEN-TP-2023
/4OLEN-TP-2023/MyVideoGames.Console/bin/Debug/net7.0
/4OLEN-TP-2023/MyVideoGames.Console/obj
/4OLEN-TP-2023/MyVideoGames.Console.DataProvider/bin/Debug/net7.0
/4OLEN-TP-2023/MyVideoGames.Console.DataProvider/obj
/4OLEN-TP-2023/MyVideoGames.Model/bin/Debug/net7.0
/4OLEN-TP-2023/MyVideoGames.Model/obj
/4OLEN-TP-2023/.vs/ProjectEvaluation
/4OLEN-TP-2023/MyVideoGames.WebUI/bin/Debug/net8.0
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/Debug/net8.0
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/Debug/net8.0/MyVideoGames.WebUI.AssemblyInfo.cs
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/Debug/net8.0/MyVideoGames.WebUI.AssemblyInfoInputs.cache
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/project.nuget.cache
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/project.assets.json
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/MyVideoGames.WebUI.csproj.nuget.dgspec.json
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/Debug/net8.0/MyVideoGames.WebUI.GeneratedMSBuildEditorConfig.editorconfig
/4OLEN-TP-2023/MyVideoGames.Console.DataProvider/bin/Debug/net8.0
/4OLEN-TP-2023/MyVideoGames.DataContext/bin/Debug/net8.0
/4OLEN-TP-2023/MyVideoGames.Model/bin/Debug/net8.0
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/Debug/net8.0/MyVideoGames.WebUI.assets.cache
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/MyVideoGames.WebUI.csproj.nuget.g.props
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/MyVideoGames.WebUI.csproj.nuget.g.targets
*.dll
/4OLEN-TP-2023/MyVideoGames.DataContext/obj/Debug/net8.0
/4OLEN-TP-2023/MyVideoGames.DataContext/obj
/4OLEN-TP-2023/MyVideoGames.WebUI/obj/Container
