@using AirFrance.WebUI.Models
@model VolListViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}
@*Affichage via une vue partielle*@
@foreach (var vol in Model.Vols)
{
    <partial name="Partials/_VolsList" model="@vol"/>
}

<a class="btn btn-primary" asp-area="" asp-controller="Vol" asp-action="Add">+ Add</a>