@model bool
@{
    string Title = Model ? "Login" : "Register";
}

<form method="post" asp-controller="Account" asp-action="@Title">
    <legend>@Title</legend>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" name="Email" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" name="Password" value="" class="form-control" />
    </div>
    @if (!Model)
    {
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password:</label>
            <input type="password" name="ConfirmPassword" value="" class="form-control" />
        </div>
    }
    <br />
    @* <label asp-for="AccountToLogin.Email"></label>
    <input asp-for="LoginViewModel.Email" /> *@
    <div asp-validation-summary="All"></div>
    <br />
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>